<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include("partials/head") %>
    <title>
      <%= title %>
    </title>
</head>
<%- include('partials/navigation') %>

  <body>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
      <section>
        <h1 class="display-1">About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae ut saepe cum, error sint alias officiis
          itaque velit repellendus quam optio odio minima asperiores necessitatibus in eaque neque inventore molestiae
          dolores maxime ex voluptas. Facilis quos, molestiae tempore quia dolorem aut aperiam? In exercitationem quasi
          pariatur eius, vel, velit voluptas soluta repudiandae suscipit culpa veritatis, ea architecto obcaecati!
          Exercitationem, praesentium sunt. Id, in fuga velit officia quia nostrum laborum praesentium expedita modi
          illo accusamus quidem porro ducimus natus. Veritatis facere rem doloribus perspiciatis illum quaerat. Suscipit
          fuga cum fugiat, doloribus nisi labore! Consequuntur quas vel odio veniam nobis dolorum saepe.
        </p>
      </section>
    </main>
    <%- include('partials/script') %>

  </body>

</html>